html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}


.box {
	width: 100%;
	height: 25%;
	display: flex;
	justify-content: space-around;

}

.red {
	width: 27%;
	height: 80%;
	background: red;
}

.blue {
	width: 27%;
	height: 80%;
	background: blue;
}

.grey {
	width: 27%;
	height: 80%;
	background: grey;
}
.text {
	width: 100%;
	height: 45%;
	text-align: left;
}
.box2 {
	width: 100%;
	height: 55%;
	background: blue;
	
}

.left-red {
	width: 25%;
	height: 100%;
	background: red;
}
.box3 {
	width: 100%;
	height: 15%;
	background: blue;
	display: flex;
	justify-content: flex-end;

	
}
.right-red {
	width: 2%;
	height: 100%;
	background: red;
	justify-content: flex-end;
}
.center-grey {
	width: 10%;
	height: 100%;
	background: #404040;	
	justify-content: flex-end;
}
.left-red1 {
	width: 2%;
	height: 100%;
	background: red;
	justify-content: flex-end;
}