html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}
body {
	padding: 3% 3% 3% 3%;
}

.box {
	width: 100%;
	height: 25%;
	display: flex;
	justify-content: space-around;

}

.red {
	width: 27%;
	height: 80%;
	background: red;
}

.blue {
	width: 27%;
	height: 80%;
	background: blue;
}

.grey {
	width: 27%;
	height: 80%;
	background: grey;
}
.text {
	width: 100%;
	height: 25%;
	text-align: left;
}
.box2 {
	width: 100%;
	height: 35%;
	background: blue;
	
}

.left-red {
	width: 25%;
	height: 100%;
	background: red;
}
